services:
  backend1:
    build: ./backend
    expose:
      - "5000"
    restart: always

  backend2:
    build: ./backend
    expose:
      - "5000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.local.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend1
      - backend2
    restart: always
